html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-size: 62.5%;
}

/* END CSS RESET */

/* HEADER LOGO */
.hlogo {
	display:inline-flex;
	font-size:4rem;
	font-family:hind;
	font-weight:700;
	color:#314936;
	padding:2rem;
}
a.hlogonamea, a.hlogonamesa:link, a.hlogonamesa:visited {
	text-decoration:none;
	font-size:4rem;
	font-family:hind;
	font-weight:700;
	color:#314936;
}
.hlogoname {

	padding-left:1rem;
	padding-top:.8rem;
	letter-spacing:1.3px;	
}
.hlogoimg {
	height:5rem;
}

/* BUTTON */
.button {
    padding: 1.3vw 4vw;
    color: #ffffff;
    background-color: #D09D7B;
    border: none;
    font-size: 1.7rem;
	font-family: Montserrat;
	font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 5px;
}

/* Section 1 */
#section-1 {
    display: flex;
    justify-content: space-between;
    padding: 3% 8% 0% 8%;
}
#s1L {
    width: 51%;
    display: flex;
    flex-direction: column;
    padding-right: 2%;
}
h2 {
    line-height: 140%;
    padding-top: 20%;
    font-family: 'Hind';
    font-size: 5rem;
    color: #262730;
    letter-spacing: 1.3px;
}
#s1L p {
    padding-top: 8%;
	font-family: Montserrat;
	font-weight: 200;
    font-size: 2rem;
    line-height: 140%;
    color: #262730;
    padding-bottom: 6%;
}
#s1L img {
    padding-top: 9%;
    width: 80px;
}
#s1L #review {
    margin-top: -5%;
	font-family: Montserrat;
	font-style: italic;
	font-weight: 200;
    font-size: 1.5rem;
    color: #262730;
}
#s1L #review-user {
    font-family: Montserrat;
    font-size: 1.2rem;
    margin-top: -12%;
}
#s1R {
    width: 33%;
    padding-left: 2%;
}
#s1R img{
    width: 420px;
}


/* Section 2 */
.section-2 {
    padding: 150px 10% 0% 10%;
    display: flex;
    justify-content: space-between;
}
.s2-txt {
    width: 54%;
}
.s2-txt h3 {
    padding-top: 6%;
    font-size: 4rem;
    font-family: 'Hind';
    color: #262730;
}
.s2-txt p {
    padding-top: 6%;
	font-family: Montserrat;
	font-weight: 200;
    font-size: 2rem;
    color: #262730;
    line-height: 140%;
    padding-bottom: 5%;
}

.s2-txt a {
    font-family: Montserrat;
    font-weight: bold;
    text-decoration: none;
    color: #d09d7b;
    font-size: 1.7rem;
}

.s2-txt a:hover {
    text-decoration: underline;
}



.s2-img {
    width: 36%;
}
.s2-img img {
    width: 100%;
    border-radius: 10px;
}

/* Section 2 Button */
.section-button {
    display: flex;
    justify-content: center;
}
.section-button .button {
    margin-top: 100px;
}


/* Section 3 */
#section-3 {
    display: flex;
    background-color: #e7e9ea;
    justify-content: space-between;
    margin-top: 200px;
    padding: 7% 5%;
}
.testimonial {
    width: 25%;
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonial img {
    width: 100px;
}
.testimonial h3 {
	font-family: Montserrat;
	font-weight: 700;
    padding-top: 30px;
    color: #262730;
    font-size: 1.7vw;
    line-height: 140%;
}
.testimonial p {
    font-family: 'Montserrat';
    color: #262730;
    font-size: 1.7rem;
    text-align: center;
    padding-top: 30px;
    line-height: 140%;
}


/* SECTION 4 */
.s4header {
	text-align:center;
	padding-top: 200px;
	padding-bottom: 20px;
	font-size:4rem;
	font-family:hind;
	font-weight:700;
	letter-spacing:1.3px;
	color: #262730;
}
.iglinks {
	display:flex;
	padding: 2rem;
}
.igimg {
	width:14rem;
	flex: 33.33%;
	padding: 1rem;
}
/* FOOTER TOP SECTION */
.footertop {
	height:25rem;
	background-color:#262730;
}
.footerbottom {
	height:10rem;
	background-color:#262730;
}
.footerLtext {
	font-family:Montserrat;
	font-weight:700;
	color:white;
	font-size:3rem;
	letter-spacing:1.3px;
}
.footertop {
	display:flex;
	flex-wrap: wrap;
	margin-top:10rem;
}
.footerL-a {
	width:50%;
	padding-top:8rem;
	padding-left:4rem;
}
.footerButton {
	font-family:Monsterrat;
	font-weight:700;
	border-radius:10px;
	letter-spacing:0.5px;
	color:white;
	font-family:Montserrat;
	background-color:#d09d7b;
	font-size:2rem;
	padding-top:1rem;
	padding-bottom:1rem;
	padding-left:3rem;
	padding-right:3rem;
}
.footerLtext {
	padding-bottom:3rem;
}
.aboutL {
	width:15%;
	font-family:Monsterrat;
}

.blogL {
	width:15%;
}
.DevelopersL {
	width:15%;
}
.liheaders {
	color:white;
	font-size:2rem;
	font-family:Montserrat;
	Font-weight:700;
	padding-top:8rem;
	letter-spacing: 2px;
	padding-bottom:2rem;
}
a.footernavlinks, a.footernavlinks:visited, a.footernavlinks:link {
	text-decoration:none;
	font-size:1.5rem;
	font-family:Montserrat;
	font-weight:200;
	color:white;
}
.flist {
	margin-top:1.5rem;
}

/* FOOTER BOTTOM SECTION */
.footerbottom {
	display:flex;
	flex-wrap:wrap;
}
.footerB-L {
	width:85%;
}
.footerB-R {
	width:15%;
}
.flogo {
	color:white;
	padding:2rem;
}
.flogoname {
	padding-left:1rem;
	display:inline-flex;
	padding-top:.8rem;
	letter-spacing:1.3px;	
	color:white;
	font-family:hind;
	font-size:4rem;
	font-weight:700;
}
.flogoimg {
	height:4rem;
	padding-left:3rem;
}
.smlogo {
	padding-top:3.5rem;
}
.footerB-R {
	display:inline-flex;
}
.smlogo {
	margin-top:2rem;
	height:3rem;
	padding:.4rem;
}






/* Media Queries */
@media (max-width: 1000px){
    /* Button */
    .button {
        width: 3vw 5vw;
    }

    /* Section 1 */
    #section-1 {
        padding: 8% 12% 0% 6%;
    }
    h2 {
        font-size: 4.3rem;
    }
    #s1R img{
        width: 380px;
    }

    /* Section 2 */
    .section-2 {
        padding: 120px 6% 0% 6%;
        align-items: center;
    }
    .s2-txt h3 {
        font-size: 3.5rem;
    }
    .s2-txt p {
        font-size: 1.8rem;
    }
}

@media (max-width: 800px){
    /* Button */
    .button {
        padding: 2.5vw 5vw;
    }
    /* Section 1 */
    #section-1 {
        padding-top: 2%;
        flex-direction: column-reverse;
    }
    #s1L {
		display: flex;
		flex-direction: column;
		align-items: center;
        width: 100%;
    }
    h2 {
		padding-top: 2%;
		text-align: center;
	}
	#s1L p {
		text-align: center;
	}
    #s1L img {
        width: 80px;
    }
    #s1R {
		width: 100%;
		display: flex;
		justify-content: center;
    }
    #s1R img {
        width: 340px;
    }
    /* Section 2 */
    .section-2 {
        flex-direction: column;
        padding: 80px 6% 0% 6%;
        align-items: center;
    }
    #section-2-b {
        display: flex;
        flex-direction: column-reverse;
    }
    .s2-txt {
        width: 96%;
    }
    .s2-txt h3 {
		padding-top: 8%;
		text-align: center;
	}
	.s2-txt p {
		text-align: center;
    }

    .s2-img {
        width: 70%;
    }
    /* Section 2 Button */
    .section-button {
        padding-left: 6%;
    }
    /* Section 3 */
    #section-3 {
        flex-direction: column;
        align-items: center;
    }
    .testimonial {
        width: 80%;
    }
    .testimonial img {
        padding-top: 100px;
    }
    .testimonial h3 {
        font-size: 2.5rem;
    }
    #final-testimonial-p {
        padding-bottom: 70px;
    }
}

@media (max-width: 500px){
    /* Section 1 */
    h2 {
        font-size: 4rem;
    }
    #s1L p {
        font-size: 1.8rem;
    }
    #s1L #review {
        font-size: 1.3rem;
    }
    #s1L #review-user {
        font-size: 1.1rem;
    }

    /* Section 2*/
    .s2-txt h3 {
        font-size: 3.2rem;
    }
}
